html {
    font-family: 'Thasadith','dengl','Noto Sans SC';;
}

body {
    font-family: 'Thasadith','dengl','Noto Sans SC';;
    font-weight: 100;
    font-size: 16px;
}

h1,
h2，
nav,
.nav,
.navbar-brand {
  font-family: 'Julius Sans One','fzyxS','dengl';
}

/* font-family: 'Montserrat','fzxdxT','dengl'*/
/* font-family: 'Julius Sans One','fzyxT','fzxdxT','dengl' !important*/